<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <ul>
          <li class="list-group-item">Info 1</li>
          <li class="list-group-item">Info 2</li>
          <li class="list-group-item">Info 3</li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="<%= campground.image %>">
        <div class="card-block">
          <div class="clearfix">
            <p class="h4 card-title float-left"><%= campground.name %></p>
            <p class="h4 card-title float-right">$9.00 / night</p>
          </div>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text font-italic">Submitted by <%= campground.author.username %></p>
          <form class="" action="/campgrounds/<%= campground.id %>/?_method=DELETE" method="POST">
            <a class="btn btn-outline-warning" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
            <button class="btn btn-outline-danger">Delete</button>
            <a class="btn btn-success float-right" href="/campgrounds/<%= campground.id %>/comments/new">Add a Comment</a>
          </form>
        </div>
      </div>
      <div class="card comments">
        <% campground.comments.forEach( (comment) => { %>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-block comment">
                  <p class="card-title"><strong><%= comment.author.username %></strong></p>
                  <p class="card-title submitted-date"><%= comment.createdAt %></p>
                  <form class="" action="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger btn-sm float-right card-button" href="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>/">Delete</button>
                    <a class="btn btn-outline-warning btn-sm float-right card-button" href="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>/edit">Edit</a>
                  </form>
                  <p class="card-text"><%= comment.text %></p>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
