<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <ul>
          <li class="list-group-item">Info 1</li>
          <li class="list-group-item">Info 2</li>
          <li class="list-group-item">Info 3</li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="<%= campground.image %>">
        <div class="card-block">
          <div class="clearfix">
            <p class="h4 float-left"><a href="#"><%= campground.name %></a></p>
            <p class="h4 float-right">$9.00 / night</p>
          </div>
          <p class="card-text"><%= campground.description %></p>
        </div>
      </div>
      <div class="card comments">
        <div class="card-block">
          <div class="clearfix">
            <a class="btn btn-success float-right" href="/campgrounds/<%= campground.id %>/comments/new">Add a Comment</a>
          </div>
          <% campground.comments.forEach( (comment) => { %>
            <div class="row">
              <div class="col-md-12">
                <div class="clearfix">
                  <p class="float-left"><%= comment.author %></p>
                  <p class="float-right">10 days ago</p>
                </div>
                <div class="">
                  <p><%= comment.text %></p>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
